#title-container {
    text-align:center;
    margin-top: 50px;
}

#input-container {
    text-align:center;
    margin-top: 20px;
}

#todo-list {
    list-style-type: none;
}

input[type=checkbox]:checked + label.tick{
    text-decoration: line-through;
}

#notes-container {
    display: none;
}

li:hover {
    cursor: pointer;
  }